.recommPro__container {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  margin-bottom: 95px;
}
.top_header h2 {
  position: relative;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2.5px;
  color: var(--bs-semi-green);
}
.top_header h2 img {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.products_container {
  margin: 2rem 0 3rem 0;
  width: 100%;
  position: relative;
}
.products_container .products_categories__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.products_category_btn {
  border: none;
  background: transparent;
  font-size: 22px;
  color: var(--bs-more-than-semi-gray);
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.products_category_btn.active,
.products_category_btn:hover {
  color: var(--bs-dark);
}
.products_showcase {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, max-content);
  column-gap: 25px;
  row-gap: 55px;
}
